{% extends 'base.html' %}
{% load static %}

{% block content %}

<section
    class="login-section"
    style="background-image: url('{% static 'img/hero-bg.jpg' %}');"
>
    <div class="container">

        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-md-7 col-sm-9">

                <div class="login-card">

                    <div class="details text-center">

                        <h3 class="mb-10">
                            Welcome Back
                        </h3>

                        <p class="mb-30">
                            Log in to continue your journey
                        </p>


                        {% if form.errors %}
                            <div class="alert alert-danger text-left mb-30">
                                Please enter a valid username and password.
                            </div>
                        {% endif %}


                        <form
                            method="post"
                            action="{% url 'accounts:login' %}"
                            class="form-area"
                        >

                            {% csrf_token %}

                            {% if next %}
                                <input
                                    type="hidden"
                                    name="next"
                                    value="{{ next }}"
                                >
                            {% endif %}


                            <div class="form-group">
                                <input
                                    type="text"
                                    name="username"
                                    value="{{ form.username.value|default_if_none:'' }}"
                                    placeholder="Username"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Username'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="form-group">
                                <input
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Password'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="text-right">

                                <button
                                    type="submit"
                                    class="genric-btn primary radius"
                                >
                                    Log In
                                </button>

                            </div>

                        </form>


                        <p class="mt-30 mb-0">
                            Don't have an account?
                            <a href="{% url 'accounts:signup' %}">
                                Sign Up
                            </a>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

{% endblock %}