{% extends 'base.html' %}
{% load static %}

{% block content %}

<section
    class="login-section"
    style="background-image: url('{% static 'img/hero-bg.jpg' %}');"
>
    <div class="container">

        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-md-7 col-sm-9">

                <div class="login-card">

                    <div class="details text-center">

                        <h3 class="mb-10">
                            Create Account
                        </h3>

                        <p class="mb-30">
                            Join us and start your travel journey
                        </p>


                        {% if form.errors %}
                            <div class="alert alert-danger text-left mb-30">
                                <strong>Please fix the following errors:</strong>

                                <ul class="mt-10 mb-0">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>
                                                <strong>{{ field.label }}:</strong>
                                                {{ error }}
                                            </li>
                                        {% endfor %}
                                    {% endfor %}

                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


                        <form
                            method="post"
                            action="{% url 'accounts:signup' %}"
                            class="form-area"
                        >

                            {% csrf_token %}


                            <div class="form-group">
                                <input
                                    type="text"
                                    name="username"
                                    value="{{ form.username.value|default_if_none:'' }}"
                                    placeholder="Username"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Username'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="form-group">
                                <input
                                    type="email"
                                    name="email"
                                    value="{{ form.email.value|default_if_none:'' }}"
                                    placeholder="Email Address"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email Address'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="form-group">
                                <input
                                    type="password"
                                    name="password1"
                                    placeholder="Password"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Password'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="form-group">
                                <input
                                    type="password"
                                    name="password2"
                                    placeholder="Confirm Password"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Confirm Password'"
                                    class="common-input mb-20 form-control"
                                    required
                                >
                            </div>


                            <div class="text-right">

                                <button
                                    type="submit"
                                    class="genric-btn primary radius"
                                >
                                    Sign Up
                                </button>

                            </div>

                        </form>


                        <p class="mt-30 mb-0">
                            Already have an account?
                            <a href="{% url 'accounts:login' %}">
                                Log In
                            </a>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>

{% endblock %}