<h1>My Posts</h1>

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.title }}</strong>
                <br>
                Published: {{ post.publish_date }}
                <br>
                <a href="{% url "blog:edit_post" pid=post.id %}">
                    Edit
                </a>
                |
                <a href="{% url 'blog:delete_post' pid=post.id %}">
                    Delete
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't created any posts yet.</p>
{% endif %}