{% load static %}
<div class="single-sidebar-widget user-info-widget">
	<img src="{{post.author.profile.avatar.url}}" alt="">
	<a href="#"><h4>{{post.author.get_full_name}}</h4></a>
	<p>
		{{post.author.profile.job_title}}
	</p>
	<ul class="social-links">
		<li><a href="{{post.author.profile.facebook}}"><i class="fa fa-facebook"></i></a></li>
		<li><a href="{{post.author.profile.twitter}}"><i class="fa fa-twitter"></i></a></li>
		<li><a href="{{post.author.profile.github}}"><i class="fa fa-github"></i></a></li>
		<li><a href="{{post.author.profile.behance}}"><i class="fa fa-behance"></i></a></li>
	</ul>
	<p>
		{{post.author.profile.bio}}
	</p>
</div>