{% load static %}
{% if author %}
    {% with writer=author %}
        ...
    {% endwith %}
{% else %}
    {% with writer=post.author %}
        ...
    {% endwith %}
{% endif %}
<div class="single-sidebar-widget user-info-widget">
	<img src="{{writer.profile.avatar.url}}" alt="">
	<a href="#"><h4>{{post.author.get_full_name}}</h4></a>
	<p>
		{{writer.profile.job_title}}
	</p>
	<ul class="social-links">
		{% if writer.profile.facebook %}
		<li><a href="{{writer.profile.facebook}}"><i class="fa fa-facebook"></i></a></li>
		{% endif %}
		{% if writer.profile.twitter %}
		<li><a href="{{writer.profile.twitter}}"><i class="fa fa-twitter"></i></a></li>
		{% endif %}
		{% if writer.profile.github %}
		<li><a href="{{writer.profile.github}}"><i class="fa fa-github"></i></a></li>
		{% endif %}
		{% if writer.profile.behance %}
		<li><a href="{{writer.profile.behance}}"><i class="fa fa-behance"></i></a></li>
		{% endif %}
	</ul>
	<p>
		{{writer.profile.bio}}
	</p>
</div>